<html lang="en" xmlns:c="http://www.w3.org/1999/XSL/Transform" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>addMeeting</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<div class="footer"><pre>Designed by Aleksandr Rallo  </pre></div>
<div class="header">
    <a href="/showMeetings" class="logo">MeetingApp</a>
    <div class="header-right">
        <a class="active" th:href="@{'/account/' + ${user.id}}">Your account</a>
        <a href="/logout">LogOut</a>
    </div>
</div>
<div class="form">
            <form action="/addMeeting" modelAttribute="newMeeting" method="post">
					<span class="">
						Add meeting
					</span><br><br>

                <div class="">
                    <span class="focus-input100">Name</span><br>
                    <input class="input100" type="text" name="name" placeholder="name">
                </div>

                <div class="">
                    <span class="focus-input100">Category</span><br>
                    <input class="input100" type="text" name="category" placeholder="category">
                </div>

                <div class="">
                    <span class="focus-input100">Event date</span><br>
                    <input class="input100" type="text" name="eventDate" placeholder="eventDate">
                </div>

                <div class="">
                    <span class="focus-input100">Description</span><br>
                    <input class="input100" type="text" name="description" placeholder="description">
                </div>

                <div class=""><br>
                    <button class="login100-form-btn" type="submit">
                        Add
                    </button>
                </div>
            </form>
</div>
</body>
</html>
