<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>createCategory</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<div class="footer"><pre>Designed by Aleksandr Rallo  </pre></div>
<div class="header">
    <a href="/showMeetings" class="logo">MeetingApp</a>
    <div class="header-right">
        <a class="active" th:href="@{'/account/' + ${user.id}}">Your account</a>
        <a href="/logout">LogOut</a>
    </div>
</div>
<div class="form">
            <form action="/createCategory" modelAttribute="newCategory" method="post">
					<span class="login100-form-title p-b-51">
						Create category
					</span><br><br>

                <div class="wrap-input100 validate-input m-b-16">
                    <span class="focus-input100">Name</span><br>
                    <input class="input100" type="text" name="name" placeholder="name">
                </div>

                <div class=""><br>
                    <button class="login100-form-btn" type="submit">
                        Create
                    </button>
                </div>
            </form>
</div>
</body>
</html>
