<html lang="en">
<head>
    <title>Login page</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<div id="footer"><pre>Designed by Aleksandr Rallo  </pre></div>
<div class="form">
            <form action="/login" method="post" modelAttribute="oldUser">
					<span class="">
						Login
					</span>

                <div class="">
                    <span class="focus-input100">Name</span>
                    <input class="input100" type="text" name="userName" placeholder="Username">
                </div>


                <div class="">
                    <span class="focus-input100">Password</span>
                    <input class="input100" type="password" name="password" placeholder="Password">
                </div>
                <div class="container-login100-form-btn m-t-17">
                    <button class="login100-form-btn" type="submit">
                        Login
                    </button>
                </div>
                <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
            </form>
</div>
</body>
</html>