<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="referrer" content="no-referrer">
    <base href="/">
    <title>Meeting</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
</head>
<body>
<div class="footer"><pre>Designed by Aleksandr Rallo  </pre></div>
<div class="header">
    <a href="/showMeetings" class="logo">MeetingApp</a>
    <div class="header-right">
        <a class="active" th:href="@{'/account/' + ${user.id}}">Your account</a>
        <a href="/logout">LogOut</a>
    </div>
</div>
Митинг
<br>
<tr th:text="${meeting.name}"></tr>
<button id="show" onclick="f()">Show details</button>
<div class="menu" style="display: none;">
    <div class="meeting" name="meeting">
        The content is
    </div>
</div>
<br>
Юзер
<br>
<tr th:each="Thisuser : ${meeting.users}">
    <a th:href="@{'/user/' + ${Thisuser.id}}">
        <span><td th:text="${Thisuser.userName}"></td></span>
    </a>
</tr>
<br>
Категория
<br>
<tr th:each="category : ${meeting.categories}">
    <a th:href="@{'/category/' + ${category.id}}">
        <span><td th:text="${category.name}"></td></span>
    </a>
</tr>
</body>
</html>