<html lang="en" xmlns:c="http://www.w3.org/1999/XSL/Transform">
<head>
    <title>userRegister</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>

<div class="form">
    <div class="footer"><pre>Designed by Aleksandr Rallo  </pre></div>
        <div class="wrap-login100 p-t-50 p-b-90">
            <form action="/userRegister" modelAttribute="newUser" method="post">
					<span class="">
						Register
					</span><br><br>

                <div class="">
                    <span class="focus-input100">First name</span><br>
                    <input class="input100" type="text" name="firstName" placeholder="firstName">
                </div>

                <div class="">
                    <span class="focus-input100">User name</span><br>
                    <input class="input100" type="text" name="userName" placeholder="userName">
                </div>

                <div class="">
                    <span class="focus-input100">Password</span><br>
                    <input class="input100" type="text" name="password" placeholder="password">
                </div>

                <div class=""><br>
                    <button class="login100-form-btn" type="submit">
                        Register
                    </button>
                </div>
            </form>
        </div>
</div>
</body>
</html>
